<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <meta charset="UTF-8">
    <title>Main page</title>

<!--Main Page-->
<main>
    <ul class="mainmenu">
        <li class="left-li"><a href="{{url_for('.contact')}}"><i class='fa fa-bars white-color'></i></a></li>
        <li class="left-li"><header>NetworkAutom siodjflkdsjf </header></li>
        <li class="right-li"><a href="{{url_for('.contact')}}"><i class='fa fa-cog white-color'></i></a></li>
        <li class="right-li"><a href="{{url_for('.contact')}}"><i class='fa fa-user white-color'></i></a></li>
        <li class="right-li"><a href="{{url_for('.contact')}}"><i class='fa fa-info white-color'></i></a></li>
    </ul>


  <p class="style1">
    Сервис предназначен для автоматизированного управления сетевыми устройствами.
  </p>
  <p class="style1">Сервис предоставляет следующие возможности:</p>
  <ul class="style1">
      <li class="op">Сбор конфигурации с устройства</li>
      <li class="op">Настройка устройства</li>
  </ul>


</main>

</head>
<body>

</body>
</html>